.delete-btn {
    transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
    background-color: var(--bs-primary);
    /* Color de fondo primario de Bootstrap */
    transform: scale(1.1);
    /* Efecto de zoom */
}

.delete-icon {
    transition: all 0.2s ease-in-out;
}

.delete-btn:hover .delete-icon {
    filter: brightness(0) invert(1);
    /* Invierte colores para que se vea blanco */
}

.delete-btn .icon-hover {
    display: none;
}

.delete-btn:hover .icon-default {
    display: none;
}

.delete-btn:hover .icon-hover {
    display: inline;
}



/* Animación de borde multicolor para el hover */
@keyframes rainbow-glow {
    0% {
        box-shadow: 0 0 10px red;
    }

    20% {
        box-shadow: 0 0 10px orange;
    }

    40% {
        box-shadow: 0 0 10px yellow;
    }

    60% {
        box-shadow: 0 0 10px green;
    }

    80% {
        box-shadow: 0 0 10px blue;
    }

    100% {
        box-shadow: 0 0 10px violet;
    }
}


.zoom-hover {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: inline-block;
    border-radius: 1rem;
}

.zoom-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px red;
    animation: rainbow-glow 1.5s infinite alternate;
}

.zoom-hover img {
    display: block;
    width: 100%;
    border-radius: 1rem;
}

#tagSuggestions .suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Para resaltar la sugerencia activa si no tienes bg-light */
.suggestion-item.active {
    background-color: #95acc4;
}

.adminLink:hover {
    color: #fff !important;
    background-color: #8B0000 !important;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}