{% extends 'layout/layout.html' %}
{% load static %}

{% block body %}

<style>
    #tagSuggestions .suggestion-item:hover {
        background-color: #f0f0f0;
    }

    /* Para resaltar la sugerencia activa si no tienes bg-light */
    .suggestion-item.active {
        background-color: #95acc4;
    }

    .adminLink:hover {
        color: #fff !important;
        background-color: #8B0000 !important;
        transform: translateY(-5px);
        transition: transform 0.3s ease;
    }
</style>
<style>
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .slide-down {
        animation: slideDown 0.5s ease forwards;
    }

    .slide-up {
        animation: slideUp 0.5s ease forwards;
    }
</style>


<div class="container-fluid  mt-4">
    <div class="row">
        <div class="">
            <h1>Sección de administrador </h1>
        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <button href=""
                class="btn adminLink border border-3 dynamicQuery border-tercero px-2 py-2 text-center text-primary fw-bold w-100"
                data-type="tags" id="tags">Tags</a>

        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <button href=""
                class="btn adminLink border border-3 dynamicQuery border-tercero px-2 py-2 text-center text-primary fw-bold w-100"
                data-type="artists" id="artists">Artistas</a>

        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <button href=""
                class="btn adminLink border border-3 dynamicQuery border-tercero px-2 py-2 text-center text-primary fw-bold w-100"
                data-type="chars" id="chars">Personajes</a>

        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <button href=""
                class="btn adminLink dynamicQuery border border-3  border-tercero px-2 py-2 text-center text-primary fw-bold w-100"
                data-type="users" id="users">Usuarios</a>

        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <button href=""
                class="btn adminLink dynamicQuery border border-3 border-tercero px-2 py-2 text-center text-primary fw-bold w-100"
                data-type="games" id="games">Juegos</a>

        </div>
        <div class="col-xl-2 my-3 col-12 col-md-6 my-xl-0 text-center ">
            <a href="{% url 'admin:index' %}"
                class="btn adminLink  border border-3 border-tercero px-2 py-2 text-center text-primary fw-bold w-100">Admin</a>

        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="tag_form">
        <div class="row d-none my-5 justify-content-center" id="tagForm">
            <div class="my-3">
                <h1>Agregar una nueva Etiqueta/Tag</h1>
            </div>
            <div class="col-lg-6  my-3 my-lg-0 col-12 text-center">
                {{ formTag.name }}
            </div>
            <div class="col-lg-6 col-12 text-center">
                <button type="submit" class="btn  fw-bold w-100 bg-secondary text-cuarto">Agregar Tag</button>
            </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="artist_form">
        <div class="row d-none my-5 justify-content-center" id="artistForm">
            <div class="my-3">
                <h1>Agregar un nuevo Artista</h1>
            </div>
            <div class="col-lg-6 my-3 my-lg-0 col-12 text-center">
                <label for="imageInput2" style="cursor: pointer;">
                    <img src="{% static 'img/noImage.jpg' %}" alt="Previsualización"
                        class="img-thumbnail d-block imagePreview w-100 h-auto"
                        style="max-height: 500px; object-fit: contain;" data-preview-id="2">
                </label>
                <input type="file" name="image" id="imageInput2" accept="image/*" class="d-none imageInput"
                    data-preview-id="2">
            </div>

            <div class="col-lg-6  my-3 my-lg-0 col-12 text-start">
                <div class="my-2">
                    Nombre: *
                    {{ formArtist.name }}
                </div>
                <div class="my-2">
                    Sexo:
                    {{ formArtist.gender }}
                </div>
                <div class="tag-input-wrapper my-2 position-relative" data-input-id="tagInputArtist"
                    data-suggestions-id="tagSuggestionsArtist" data-container-id="tagContainerArtist"
                    data-hidden-id="tagsSelectedArtist"> Etiquetas:
                    <input type="text" id="tagInputArtist" class="rounded-3 border-3 border-primary px-4 w-100 py-2"
                        placeholder="Escribe una etiqueta y presiona Enter o Tab para autocompletar">
                    <div id="tagSuggestionsArtist"
                        class="border bg-white rounded-2 mt-1 d-none position-absolute z-3 w-100">
                    </div>
                    <div id="tagContainerArtist" class="mt-2 d-flex flex-wrap gap-2"></div>
                </div>
                <div class="my-2">
                    Descripción:
                    {{ formArtist.description }}
                </div>
                <div class="my-2">
                    Redes sociales
                    <div id="socialButtons" class="mb-3 d-flex flex-wrap gap-2">

                        <button type="button" class="btn btn-sm p-1" data-net="facebook">
                            <img src="{% static 'img/Facebook.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>
                        <button type="button" class="btn btn-sm p-1" data-net="twitter">
                            <img src="{% static 'img/Twitter.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>
                        <button type="button" class="btn btn-sm p-1" data-net="instagram">
                            <img src="{% static 'img/Instagram.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>
                        <button type="button" class="btn btn-sm p-1" data-net="youtube">
                            <img src="{% static 'img/Youtube.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>
                        <button type="button" class="btn btn-sm p-1" data-net="tiktok">
                            <img src="{% static 'img/Tiktok.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>
                        <button type="button" class="btn btn-sm p-1" data-net="onlyfans">
                            <img src="{% static 'img/Onlyfans.png' %}" alt="" class="img-fluid"
                                style="width: 32px; height: 32px;">
                        </button>

                    </div>
                    <div class="row g-3">
                        <div class="col-12 col-md-6 d-none social-input " id="input-facebook">
                            <label class="form-label">Facebook</label>
                            {{ formArtist.facebook }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-twitter">
                            <label class="form-label">Twitter</label>
                            {{ formArtist.twitter }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-instagram">
                            <label class="form-label">Instagram</label>
                            {{ formArtist.instagram }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-youtube">
                            <label class="form-label">YouTube</label>
                            {{ formArtist.youtube }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-tiktok">
                            <label class="form-label">TikTok</label>
                            {{ formArtist.tiktok }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-onlyfans">
                            <label class="form-label">OnlyFans</label>
                            {{ formArtist.onlyfans }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-extra1">
                            <label class="form-label">Red extra 1</label>
                            {{ formArtist.extra1 }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-extra2">
                            <label class="form-label">Red extra 2</label>
                            {{ formArtist.extra2 }}
                        </div>
                        <div class="col-12 col-md-6 d-none social-input" id="input-extra3">
                            <label class="form-label">Red extra 3</label>
                            {{ formArtist.extra3 }}
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    Cumpleaños:
                    {{ formArtist.birthdate }}
                </div>
                <div class="my-2">
                    <button type="submit" class="btn  fw-bold w-100 bg-secondary text-cuarto">Agregar Artista</button>
                </div>
            </div>



        </div>
        <input type="hidden" name="tags_selectedArtist" id="tagsSelectedArtist">

    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="char_form">
        <div class="row d-none my-5 justify-content-center" id="charForm">
            <div class="my-3">
                <h1>Agregar un nuevo Personaje</h1>
            </div>
            <div class="col-lg-6  my-3 my-md-0 col-12 text-center">

                <label for="imageInput1" style="cursor: pointer;">
                    <img src="{% static 'img/noImage.jpg' %}" alt="Previsualización"
                        class="img-thumbnail d-block imagePreview w-100 h-auto"
                        style="max-height: 500px; object-fit: contain;" data-preview-id="1">
                </label>

                <input type="file" name="image" id="imageInput1" accept="image/*" class="d-none imageInput"
                    data-preview-id="1">


            </div>

            <div class="col-lg-6 my-3 my-md-0 col-12 text-start">
                <div class="my-2">
                    Nombre:*
                    {{ formChar.name }}

                </div>
                <div class="my-2">
                    Sexo:
                    {{ formChar.gender }}

                </div>
                <div class="my-2">
                    Juego:
                    {{ formChar.game }}

                </div>
                <div class="tag-input-wrapper my-2 position-relative" data-input-id="tagInputChar"
                    data-suggestions-id="tagSuggestionsChar" data-container-id="tagContainerChar"
                    data-hidden-id="tagsSelectedChar"> Etiquetas:
                    <input type="text" id="tagInputChar" class="rounded-3 border-3 border-primary px-4 w-100 py-2"
                        placeholder="Escribe una etiqueta y presiona Enter o Tab para autocompletar">
                    <div id="tagSuggestionsChar"
                        class="border bg-white rounded-2 mt-1 d-none position-absolute z-3 w-100">
                    </div>
                    <div id="tagContainerChar" class="mt-2 d-flex flex-wrap gap-2">


                    </div>

                </div>
                <div class=" my-2">
                    Descripción:
                    {{ formChar.description }}
                </div>

                <div class="my-2">
                    Cumpleaños:
                    {{ formChar.birthdate }}
                </div>
                <div class="my-2">
                    <button type="submit" class="btn  fw-bold w-100 bg-secondary text-cuarto">Agregar Personaje</button>

                </div>
            </div>

        </div>
        <input type="hidden" name="tags_selectedChar" id="tagsSelectedChar">

    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="user_form">
        <div class="row d-none my-5 justify-content-center" id="userForm">
            <div class="my-3">
                <h1>Agregar un nuevo Usuario</h1>
            </div>
            <div class="col-lg-6  my-3 col-12 text-start">
                Nombre:*
                {{ formUser.username }}
            </div>
            <div class="col-lg-6  my-3  col-12 text-start">
                Contraseña:*
                {{ formUser.password }}
            </div>
            <div class="col-lg-6 my-3 col-6">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <label class="mb-0 fs-5" for="{{ formUser.is_staff.id_for_label }}">Staff</label>
                    {{ formUser.is_staff }}
                </div>
            </div>

            <div class="col-lg-6 my-3 col-6">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <label class="mb-0 fs-5" for="{{ formUser.is_superuser.id_for_label }}">Superusuario</label>
                    {{ formUser.is_superuser }}
                </div>
            </div>

            <div class="col-lg-6  my-3  col-12 text-center">
                <button type="submit" class="btn  fw-bold w-100 bg-secondary text-cuarto">Agregar Usuario</button>
            </div>
        </div>
    </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="game_form">
        <div class="row d-none my-5 justify-content-center" id="gameForm">
            <div class="my-3">
                <h1>Agregar un nuevo Juego</h1>
            </div>
            <div class="col-lg-6 my-3 my-md-0 col-12 text-center">

                <label for="imageInput3" style="cursor: pointer;">
                    <img src="{% static 'img/noImage.jpg' %}" alt="Previsualización"
                        class="img-thumbnail d-block imagePreview w-100 h-auto"
                        style="max-height: 500px; object-fit: contain;" data-preview-id="3">
                </label>
                <input type="file" name="image" id="imageInput3" accept="image/*" class="d-none imageInput"
                    data-preview-id="3">



            </div>
            <div class="col-lg-6  my-3 my-md-0 col-12 text-start">
                <div class="my-2">
                    Nombre del juego:*
                    {{ formGame.name }}

                </div>
                <div class="tag-input-wrapper my-2 position-relative" data-input-id="tagInputGame"
                    data-suggestions-id="tagSuggestionsGame" data-container-id="tagContainerGame"
                    data-hidden-id="tagsSelectedGame">

                    Etiquetas:
                    <input type="text" id="tagInputGame" class="rounded-3 border-3 border-primary px-4 w-100 py-2"
                        placeholder="Escribe una etiqueta y presiona Enter o Tab para autocompletar">
                    <div id="tagSuggestionsGame"
                        class="border bg-white rounded-2 mt-1 d-none position-absolute z-3 w-100">
                    </div>
                    <div id="tagContainerGame" class="mt-2 d-flex flex-wrap gap-2">


                    </div>
                </div>

                <div class="my-2">
                    <button type="submit" class="btn  fw-bold w-100 bg-secondary text-cuarto">Agregar Juego</button>

                </div>
            </div>


        </div>
        <input type="hidden" name="tags_selectedGame" id="tagsSelectedGame">

    </form>
    <div id="dynamic-container" class="row my-4">
        <!-- Aquí se cargarán los tags/artistas/chars/etc -->
    </div>
    <div id="response-message" class="text-center mt-2 d-none fw-bold text-tercero"></div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('#socialButtons button');
        buttons.forEach(btn => {
            btn.addEventListener('click', () => {
                const net = btn.dataset.net;
                const container = document.getElementById('input-' + net);
                const input = container.querySelector('input, textarea');
                if (container.classList.contains('d-none')) {
                    container.classList.remove('d-none');
                } else {
                    if (input.value.trim() === '') {
                        container.classList.add('d-none');
                    }
                }
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".dynamicQuery");

        buttons.forEach(btn => {
            btn.addEventListener("click", async (e) => {
                e.preventDefault();
                const type = btn.getAttribute("data-type");
                const container = document.getElementById("dynamic-container");

                // Llama al backend (ajusta URL según tu framework)
                const response = await fetch(`/get-items/${type}/`);
                const items = await response.json();

                // Limpia el contenedor
                container.innerHTML = "";

                // Muestra cada ítem
                items.forEach(item => {
                    const div = document.createElement("div");
                    div.className = "col-auto bg-primary border rounded-pill d-flex align-items-center px-4 py-2 m-2 text-white";

                    if (type == "users") {
                        div.innerHTML = `
              <span class="me-2">${item.username}</span>
              <button class="btn-close btn-sm remove-tag" data-id="${item.id}" data-type="${type}"></button>
            `;

                    } else {
                        div.innerHTML = `
              <span class="me-2">${item.name}</span>
              <button class="btn-close btn-sm remove-tag" data-id="${item.id}" data-type="${type}"></button>
            `;

                    }
                    container.appendChild(div);
                });
            });
        });

        // Evento para eliminar (delegado)
        document.getElementById("dynamic-container").addEventListener("click", async (e) => {
            if (e.target.classList.contains("remove-tag")) {
                const id = e.target.getAttribute("data-id");
                const type = e.target.getAttribute("data-type");

                // Eliminar en el backend
                const response = await fetch(`/delete-item/${type}/${id}/`, {
                    method: "DELETE"
                });

                const data = await response.json();

                // Mostrar respuesta en pantalla
                const messageDiv = document.getElementById("response-message");
                messageDiv.textContent = data.success ? "Elemento eliminado con éxito." : data.error;
                messageDiv.classList.remove("d-none");
                messageDiv.classList.add(data.success ? "text-success" : "text-danger");

                // Solo eliminar del DOM si el backend respondió éxito
                if (data.success) {
                    e.target.parentElement.remove();
                }
                setTimeout(() => {
                    messageDiv.classList.add("d-none");
                    messageDiv.textContent = "";
                }, 4000);
            }
        });

    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const imageInputs = document.querySelectorAll('.imageInput');

        imageInputs.forEach(input => {
            input.addEventListener('change', function () {
                const previewId = this.dataset.previewId;
                const imagePreview = document.querySelector(`.imagePreview[data-preview-id="${previewId}"]`);
                const file = this.files[0];

                if (file && imagePreview) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        imagePreview.classList.remove('d-none');
                    };

                    reader.readAsDataURL(file);
                } else if (imagePreview) {
                    imagePreview.src = "#";
                    imagePreview.classList.add('d-none');
                }
            });
        });
    });



    document.getElementById('tags').onclick = function () {
        toggleFormVisibility('#tagForm');
    };

    document.getElementById('artists').onclick = function () {
        toggleFormVisibility('#artistForm');
    };

    document.getElementById('users').onclick = function () {
        toggleFormVisibility('#userForm');
    };

    document.getElementById('chars').onclick = function () {
        toggleFormVisibility('#charForm');
    };

    document.getElementById('games').onclick = function () {
        toggleFormVisibility('#gameForm');
    };

    function toggleFormVisibility(formId) {
        const forms = ['#tagForm', '#artistForm', '#charForm', '#userForm', '#gameForm'];
        forms.forEach(function (form) {
            const formElement = document.querySelector(form);
            if (formElement && form !== formId) {
                formElement.classList.add('d-none');
                formElement.classList.remove('slide-down', 'slide-up');
            }
        });

        const selectedForm = document.querySelector(formId);
        if (selectedForm.classList.contains('d-none')) {
            selectedForm.classList.remove('d-none');
            selectedForm.classList.remove('slide-up');
            selectedForm.classList.add('slide-down');
        } else {
            selectedForm.classList.remove('slide-down');
            selectedForm.classList.add('slide-up');
            setTimeout(() => {
                selectedForm.classList.add('d-none');
            }, 500);
        }
    }

</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('#socialButtons button');
        buttons.forEach(btn => {
            btn.addEventListener('click', () => {
                const net = btn.dataset.net;
                const container = document.getElementById('input-' + net);
                const input = container.querySelector('input, textarea');

                // si no está abierto, lo abrimos
                if (!container.classList.contains('open')) {
                    container.classList.add('open');
                } else {
                    // si ya abierto, solo lo cerramos si está vacío
                    if (input.value.trim() === '') {
                        container.classList.remove('open');
                    }
                }
            });
        });
    });
</script>
<script>
    function setupTagInput({ inputId, suggestionsId, containerId, hiddenInputId }) {
        const tagInput = document.getElementById(inputId);
        const tagSuggestions = document.getElementById(suggestionsId);
        const tagContainer = document.getElementById(containerId);
        const tagsSelectedInput = document.getElementById(hiddenInputId);  // ya lo hallará

        let selectedTags = [];
        let selectedIndex = -1;

        tagInput.addEventListener("input", async () => {
            const query = tagInput.value.trim();
            const terms = query.split(" ");
            const lastTerm = terms[terms.length - 1];

            if (lastTerm.length < 1) {
                tagSuggestions.classList.add("d-none");
                tagSuggestions.innerHTML = "";
                selectedIndex = -1;
                return;
            }

            const response = await fetch(`/tags-suggest/?q=${encodeURIComponent(lastTerm)}`);
            const tags = await response.json();

            tagSuggestions.innerHTML = "";
            if (tags.length > 0) {
                tagSuggestions.innerHTML = tags.map(tag => `
                <div class="p-2 suggestion-item" style="cursor:pointer;">
                    ${tag}
                </div>
            `).join('');

                tagSuggestions.classList.remove("d-none");

                document.querySelectorAll(`#${suggestionsId} .suggestion-item`).forEach((item, index) => {
                    item.addEventListener("click", () => {
                        addTag(item.textContent);
                        tagInput.value = "";
                        tagSuggestions.classList.add("d-none");
                        selectedIndex = -1;
                        tagInput.focus();
                    });
                });

                selectedIndex = -1;
            } else {
                tagSuggestions.classList.add("d-none");
            }
        });

        tagInput.addEventListener("keydown", e => {
            const suggestions = tagSuggestions.querySelectorAll(".suggestion-item");

            // Flechas arriba/abajo mantienen tu lógica
            if (e.key === "ArrowDown") {
                e.preventDefault();
                selectedIndex = (selectedIndex + 1) % suggestions.length;
                updateActiveSuggestion(suggestions);
            }
            else if (e.key === "ArrowUp") {
                e.preventDefault();
                selectedIndex = (selectedIndex - 1 + suggestions.length) % suggestions.length;
                updateActiveSuggestion(suggestions);
            }
            // Tab: si moviste con flechas, toma esa; si no, la primera sugerencia
            else if (e.key === "Tab") {
                if (suggestions.length > 0) {
                    e.preventDefault();
                    const idx = selectedIndex >= 0 ? selectedIndex : 0;
                    addTag(suggestions[idx].textContent);
                    tagInput.value = "";
                    tagSuggestions.classList.add("d-none");
                    selectedIndex = -1;
                }
            }
            // Enter: si moviste con flechas, toma esa; sino, toma lo que escribiste
            else if (e.key === "Enter") {
                e.preventDefault();
                if (suggestions.length > 0 && selectedIndex >= 0) {
                    addTag(suggestions[selectedIndex].textContent);
                } else if (tagInput.value.trim() !== "") {
                    addTag(tagInput.value.trim());
                }
                tagInput.value = "";
                tagSuggestions.classList.add("d-none");
                selectedIndex = -1;
            }
        });


        function updateActiveSuggestion(suggestions) {
            suggestions.forEach((item, index) => {
                if (index === selectedIndex) {
                    item.classList.add("bg-light", "active");
                    item.scrollIntoView({ block: "nearest" });
                } else {
                    item.classList.remove("bg-light", "active");
                }
            });
        }

        function addTag(tagText) {
            const cleanTag = tagText.trim();
            if (cleanTag === "" || selectedTags.includes(cleanTag)) return;

            selectedTags.push(cleanTag);

            const tagDiv = document.createElement("div");
            tagDiv.className = "badge bg-secondary text-white rounded-pill px-3 py-2 d-flex align-items-center gap-2";
            tagDiv.innerHTML = `
            ${cleanTag}
            <button type="button" class="btn-close btn-close-white btn-sm ms-2" aria-label="Remove"></button>
        `;

            tagDiv.querySelector("button").addEventListener("click", () => {
                tagContainer.removeChild(tagDiv);
                selectedTags = selectedTags.filter(t => t !== cleanTag);
                updateHiddenInput();
            });

            tagContainer.appendChild(tagDiv);
            updateHiddenInput();
        }

        function updateHiddenInput() {
            tagsSelectedInput.value = selectedTags.join(",");
        }
    }
    document.querySelectorAll('.tag-input-wrapper').forEach(wrapper => {
        setupTagInput({
            inputId: wrapper.dataset.inputId,
            suggestionsId: wrapper.dataset.suggestionsId,
            containerId: wrapper.dataset.containerId,
            hiddenInputId: wrapper.dataset.hiddenId    // << aquí coincide con data-hidden-id
        });
    });



</script>
{% endblock %}