{% extends 'layout/layout.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <h1>Descargar Video de YouTube</h1>
    <form method="post">
      <div class="row"> 
        <div class="col-12 my-2">
          <label for="url" class="fw-bold ">URL del video de YouTube:</label>
        </div>
        <div class="col-12 my-2">
          {% csrf_token %}
        
        
            <div class="input-group">
              <span href="" class="text-center my-auto me-2"><svg height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 461.001 461.001" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"></path> </g> </g></svg></span>

              <input class="input border rounded-3 w-50 py-2 px-2 my-auto" type="text" name="url" placeholder="https://youtube.com/..." required>
            </div>
           
          </div>
        <div class="col-12 my-2">
          <button type="submit" class="btn btn-primary py-2 px-4  fw-bold">Descargar</button>

        </div>
      </div>    
    </form>
      {% if title %}
      <p>✅ Video descargado: <strong>{{ title }}</strong></p>
      <p><a href="/media/{{ filename|cut:'media/' }}" download>📥 Descargar archivo</a></p>
    {% elif error %}
      <p style="color:red;">⚠️ {{ error }}</p>
    {% endif %}
  </div>


      
    
    
{% endblock %}
