<div class="sidebar d-none d-md-block">
   <h2>Tags</h2>
   {% if popular_tags %}

   <h4 class="px-3">
      <a href="{% url 'index:filteredByTag' 'All' %}">All</a>
   </h4>
   {% for tag in popular_tags %}
   <h4 class="px-3">
      <a href="{% url 'index:filteredByTag' tag.name %}">{{ tag.name }}</a>
   </h4>
   {% endfor %}
   {% else %}
   <p>No tags available.</p>
   {% endif %}

   <h2>Artistas</h2>
   {% if popular_artists %}
   <h4 class="px-3">
      <a href="{% url 'index:filteredByArtist' 'All' %}">All</a>
   </h4>
   {% for artist in popular_artists %}
   <h4 class="px-3">
      <a href="{% url 'index:filteredByArtist' artist.name %}">{{ artist.name }}</a>

   </h4>
   {% endfor %}
   {% else %}
   <p>No artists available.</p>
   {% endif %}

   <h2>Personajes</h2>
   <!-- Añadir contenido adicional aquí -->
   {% if popular_characters %}
   <h4 class="px-3">
      <a href="{% url 'index:filteredBycharacter' 'All' %}">All</a>
   </h4>
   {% for character in popular_characters %}
   <h4 class="px-3">
      <a href="{% url 'index:filteredBycharacter' character.name %}">{{ character.name }}</a>

   </h4>
   {% endfor %}
   {% else %}
   <p>No character available.</p>
   {% endif %}



   <!-- Añadir contenido adicional aquí -->
</div>