{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/watchComic.css' %}">



<div class="container-fluid mt-4 ">
    <div class="row align-items-center border-bottom border-3 border-primary mb-3"> <!-- Titulo -->
        <div class="col-12 col-lg-8 align-self-end">
            <h1 class="fw-bold text-dark m-0 pb-2 text-truncate">{{ mediafile.name }}</h1>
        </div>
        {% if request.user == mediafile.user %}

        <div class="col-lg-2 col-6  align-self-end">
            <div class="pb-2">
                <button class="btn btn-quinto w-100" data-bs-toggle="modal"
                    data-bs-target="#imageFileEdit">Editar</button>
            </div>
        </div>

        <div class="col-lg-2 col-6  align-self-end">
            <div class="pb-2">
                <button class="btn btn-primary w-100" data-bs-toggle="modal"
                    data-bs-target="#imageModalDelete">Borrar</button>
            </div>
        </div>

        <div class="modal fade" id="imageModalDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-cuarto comic-modal m-auto">
                    <div class="modal-header">
                        <h2 class="modal-title fnBadComicTitle" id="modalLabel">Borrar registro</h2>


                    </div>

                    <div class="modal-body p-0 h-100 d-flex flex-column justify-content-center">
                        <!-- Carrusel -->
                        <div class="row px-3">
                            <div class="col-12 text-center">
                                Estas seguro de querer eliminar el archivo {{ mediafile.name }}? esta acción es
                                permanente

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'index:deleteVideo' mediafile.id %}" class="btn btn-primary">Sí, quiero
                            borrarlos</a>
                        <button type="button" class="btn-quinto btn" data-bs-dismiss="modal" aria-label="Cerrar">No, me
                            arrepenti</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imageFileEdit" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-cuarto comic-modal m-auto">
                    <div class="modal-header">
                        <h2 class="modal-title fnBadComicTitle" id="modalLabel">Editar registro</h2>


                    </div>

                    <div class="modal-body p-0 h-100 d-flex flex-column justify-content-center">
                        <div class="row px-3">
                            <div class="col-12 text-center">

                                <form method="post" enctype="multipart/form-data" id="comicForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="update_video" value="1">
                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Portada del video *
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            <div class="text-center">
                                                <label for="imageInput2" style="cursor: pointer;">
                                                    {% if mediafile.image %}
                                                    <img src="{{ mediafile.image.url }}" alt="Imagen del comic"
                                                        class="img-thumbnail d-block imagePreview w-100 h-auto"
                                                        style="max-height: 500px; object-fit: contain;"
                                                        data-preview-id="2">
                                                    {% else %}
                                                    <img src="{% static 'img/noImage.jpg' %}" alt="Previsualización"
                                                        class="img-thumbnail d-block imagePreview w-100 h-auto"
                                                        style="max-height: 500px; object-fit: contain;"
                                                        data-preview-id="2">
                                                    {% endif %}

                                                </label>
                                                <input type="file" name="image" id="imageInput2" accept="image/*"
                                                    class="d-none imageInput" data-preview-id="2">

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Nombre del video *
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.name }}
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Artista
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.artist }}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Subido por
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.user }}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            NSFW? *
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.nsfw }}

                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Etiquetas
                                        </div>
                                        <div class="col-md-9 col-12 my-auto position-relative">
                                            <!-- <- Agregado position-relative aquí -->
                                            <input type="text" id="tagInputArtist"
                                                class="rounded-3 border-3 border-primary px-4 w-100 py-2"
                                                placeholder="Escribe una etiqueta y presiona Enter o Tab para autocompletar">
                                            <div id="tagSuggestionsArtist"
                                                class="border bg-white rounded-2 mt-1 d-none position-absolute z-3 w-100">
                                            </div>
                                            <div id="tagContainerArtist" class="mt-2 d-flex flex-wrap gap-2">
                                                {% for tag in mediafile.tags.all %}
                                                <div class="badge bg-secondary text-white rounded-pill px-3 py-2 d-flex align-items-center gap-2"
                                                    id="tag-{{ tag.id }}">
                                                    {{ tag.name }}
                                                    <button type="button" class="btn-close btn-close-white btn-sm ms-2"
                                                        aria-label="Remove"></button>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Juego
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.game }}
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Personajes
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.character }}
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-md-3 col-12 my-auto">
                                            Ocultar
                                        </div>
                                        <div class="col-md-9 col-12 my-auto">
                                            {{ formVideo.hide }}
                                        </div>
                                    </div>


                                    <div class="row p-2">
                                        <div class="col-12 text-end">
                                            <button type="submit" class="btn btn-primary">Actualizar Video</button>
                                            <button type="button" class="btn btn-quinto"
                                                data-bs-dismiss="modal">Cancelar</button>

                                        </div>
                                    </div>
                                    <input type="text" name="tags_selectedArtist" id="tagsSelectedArtist" hidden
                                        value="{% for tag in mediafile.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">

                                </form>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        {% endif %}


    </div>

    <div class="media-container my-3"> <!-- Video -->
        <link href="https://vjs.zencdn.net/8.9.0/video-js.css" rel="stylesheet" />

        <style>
            .media-container video {
                width: 100%;
                max-height: 500px;
                object-fit: contain;
                display: block;
                margin: 0 auto;
            }
        </style>


        {% if is_audio %}
        <div class="d-flex justify-content-center mt-4">
            <div class="position-relative " style="display: inline-block;">
                {% if mediafile.image %}
                <img id="audio-image" src="{{ mediafile.image.url }}" alt="Imagen del audio" class="img-fluid"
                    style="max-width: 400px; cursor: pointer;">
                {% else %}
                <img id="audio-image" src="{% static 'img/noImage.jpg' %}" alt="Imagen del audio"
                    class="img-fluid border border-3 border-primary rounded-4"
                    style="max-width: 400px; cursor: pointer;">



                {% endif %}

                <!-- Reproductor de audio centrado abajo -->
                <div class="position-absolute bottom-0 start-50 translate-middle-x mb-2">
                    <audio id="audio-player" controls class="border border-3 border-tercero rounded-5">
                        <source src="{% url 'index:media_stream' mediafile.id %}" type="audio/mpeg">
                        Tu navegador no soporta audio.
                    </audio>
                </div>
            </div>
        </div>

        <script>


            document.addEventListener('DOMContentLoaded', function () {
                const audio = document.getElementById('audio-player');
                const image = document.getElementById('audio-image');
                if (audio) {
                    audio.volume = 0.2;
                }
                image.addEventListener('click', function () {
                    if (audio.paused) {
                        audio.play();
                    } else {
                        audio.pause();
                    }
                });
            });
        </script>

        {% else %}
        <video controls class="video-js vjs-default-skin" id="video-player-{{ mediafile.id }}">
            <source src="{% url 'index:media_stream' mediafile.id %}" type="video/mp4">
            Tu navegador no soporta video.
        </video>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const video = document.getElementById('video-player-{{ mediafile.id }}');
                if (video) {
                    video.volume = 0.2;
                }
            });
        </script>
        {% endif %}


    </div>
    <style>
        .character-tooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .character-tooltip .preview-image {
            visibility: hidden;
            width: 150px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 0.5rem;
            padding: 5px;
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;
        }

        .character-tooltip:hover .preview-image {
            visibility: visible;
        }
    </style>


    {% include 'Index/watchFileInformation.html' %}

    {% include 'Index/watchComentarySection.html' %}

</div>




<script>
    document.addEventListener('DOMContentLoaded', () => {
        const imageInputs = document.querySelectorAll('.imageInput');

        imageInputs.forEach(input => {
            input.addEventListener('change', function () {
                const previewId = this.dataset.previewId;
                const imagePreview = document.querySelector(`.imagePreview[data-preview-id="${previewId}"]`);
                const file = this.files[0];

                if (file && imagePreview) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        imagePreview.classList.remove('d-none');
                    };

                    reader.readAsDataURL(file);
                } else if (imagePreview) {
                    imagePreview.src = "#";
                    imagePreview.classList.add('d-none');
                }
            });
        });
    });

</script>

<script>
    function setupTagInput({ inputId, suggestionsId, containerId, hiddenInputId }) {
        const tagInput = document.getElementById(inputId);
        const tagSuggestions = document.getElementById(suggestionsId);
        const tagContainer = document.getElementById(containerId);
        const tagsSelectedInput = document.getElementById(hiddenInputId);

        let selectedTags = [];
        let selectedIndex = -1;

        // Cargar las etiquetas existentes (si las hay)
        function loadTags(existingTags) {
            selectedTags = existingTags.split(",").filter(tag => tag.trim() !== "");
            renderTags();
        }

        function renderTags() {
            tagContainer.innerHTML = '';  // Limpiar el contenedor
            selectedTags.forEach(tag => {
                const tagDiv = document.createElement("div");
                tagDiv.className = "badge bg-secondary text-white rounded-pill px-3 py-2 d-flex align-items-center gap-2";
                tagDiv.innerHTML = `
                      ${tag}
                      <button type="button" class="btn-close btn-close-white btn-sm ms-2" aria-label="Remove"></button>
                  `;

                tagDiv.querySelector("button").addEventListener("click", () => {
                    removeTag(tag);
                });

                tagContainer.appendChild(tagDiv);
            });
            updateHiddenInput();
        }

        // Al cargar la página con tags preexistentes
        const existingTags = tagsSelectedInput.value; // Suponiendo que ya tienes las etiquetas separadas por coma
        loadTags(existingTags);

        tagInput.addEventListener("input", async () => {
            const query = tagInput.value.trim();
            const terms = query.split(" ");
            const lastTerm = terms[terms.length - 1];

            if (lastTerm.length < 1) {
                tagSuggestions.classList.add("d-none");
                tagSuggestions.innerHTML = "";
                selectedIndex = -1;
                return;
            }

            const response = await fetch(`/tags-suggest/?q=${encodeURIComponent(lastTerm)}`);
            const tags = await response.json();

            tagSuggestions.innerHTML = "";
            if (tags.length > 0) {
                tagSuggestions.innerHTML = tags.map(tag => `
                      <div class="p-2 suggestion-item" style="cursor:pointer;">
                          ${tag}
                      </div>
                  `).join('');

                tagSuggestions.classList.remove("d-none");

                document.querySelectorAll(`#${suggestionsId} .suggestion-item`).forEach((item, index) => {
                    item.addEventListener("click", () => {
                        addTag(item.textContent);
                        tagInput.value = "";
                        tagSuggestions.classList.add("d-none");
                        selectedIndex = -1;
                        tagInput.focus();
                    });
                });

                selectedIndex = -1;
            } else {
                tagSuggestions.classList.add("d-none");
            }
        });

        tagInput.addEventListener("keydown", e => {
            const suggestions = tagSuggestions.querySelectorAll(".suggestion-item");

            // Flechas arriba/abajo mantienen tu lógica
            if (e.key === "ArrowDown") {
                e.preventDefault();
                selectedIndex = (selectedIndex + 1) % suggestions.length;
                updateActiveSuggestion(suggestions);
            }
            else if (e.key === "ArrowUp") {
                e.preventDefault();
                selectedIndex = (selectedIndex - 1 + suggestions.length) % suggestions.length;
                updateActiveSuggestion(suggestions);
            }
            // Tab: si moviste con flechas, toma esa; si no, la primera sugerencia
            else if (e.key === "Tab") {
                if (suggestions.length > 0) {
                    e.preventDefault();
                    const idx = selectedIndex >= 0 ? selectedIndex : 0;
                    addTag(suggestions[idx].textContent);
                    tagInput.value = "";
                    tagSuggestions.classList.add("d-none");
                    selectedIndex = -1;
                }
            }
            // Enter: si moviste con flechas, toma esa; sino, toma lo que escribiste
            else if (e.key === "Enter") {
                e.preventDefault();
                if (suggestions.length > 0 && selectedIndex >= 0) {
                    addTag(suggestions[selectedIndex].textContent);
                } else if (tagInput.value.trim() !== "") {
                    addTag(tagInput.value.trim());
                }
                tagInput.value = "";
                tagSuggestions.classList.add("d-none");
                selectedIndex = -1;
            }
        });

        function updateActiveSuggestion(suggestions) {
            suggestions.forEach((item, index) => {
                if (index === selectedIndex) {
                    item.classList.add("bg-light", "active");
                    item.scrollIntoView({ block: "nearest" });
                } else {
                    item.classList.remove("bg-light", "active");
                }
            });
        }

        function addTag(tagText) {
            const cleanTag = tagText.trim();
            if (cleanTag === "" || selectedTags.includes(cleanTag)) return;

            selectedTags.push(cleanTag);

            const tagDiv = document.createElement("div");
            tagDiv.className = "badge bg-secondary text-white rounded-pill px-3 py-2 d-flex align-items-center gap-2";
            tagDiv.innerHTML = `
                  ${cleanTag}
                  <button type="button" class="btn-close btn-close-white btn-sm ms-2" aria-label="Remove"></button>
              `;

            tagDiv.querySelector("button").addEventListener("click", () => {
                tagContainer.removeChild(tagDiv);
                selectedTags = selectedTags.filter(t => t !== cleanTag);
                updateHiddenInput();
            });

            tagContainer.appendChild(tagDiv);
            updateHiddenInput();
        }

        function updateHiddenInput() {
            tagsSelectedInput.value = selectedTags.join(",");
        }

    }

    setupTagInput({
        inputId: "tagInputArtist",
        suggestionsId: "tagSuggestionsArtist",
        containerId: "tagContainerArtist",
        hiddenInputId: "tagsSelectedArtist"
    });
    document.addEventListener('DOMContentLoaded', function () {
        const tagContainer = document.getElementById('tagContainerArtist');
        const hiddenInput = document.getElementById('tagsSelectedArtist');

        // Delegamos el click en cualquier .btn-close dentro de tagContainerArtist
        tagContainer.addEventListener('click', function (e) {
            if (!e.target.classList.contains('btn-close')) return;

            // encuentra la badge más cercana y la elimina
            const badge = e.target.closest('.badge');
            if (badge) badge.remove();

            // luego actualiza el input oculto con las badges que quedan
            const tags = Array.from(tagContainer.querySelectorAll('.badge'))
                .map(b => b.firstChild.textContent.trim());
            hiddenInput.value = tags.join(',');
        });
    });



</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.btn-like').forEach(function (button) {
            button.addEventListener('click', function () {
                const model = button.getAttribute('data-model');
                const id = button.getAttribute('data-id');

                fetch(`/toggle-like/${model}/${id}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.liked !== undefined) {
                            button.querySelector('.like-count').textContent = data.total_likes;

                            const likedIcon = button.querySelector('.liked');
                            const notLikedIcon = button.querySelector('.not-liked');

                            if (data.liked) {
                                likedIcon.style.opacity = '1';
                                notLikedIcon.style.opacity = '0';
                            } else {
                                likedIcon.style.opacity = '0';
                                notLikedIcon.style.opacity = '1';
                            }
                        }
                    });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                document.cookie.split(';').forEach(function (cookie) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.slice(name.length + 1));
                    }
                });
            }
            return cookieValue;
        }
    });
</script>
<style>
    /* Contenedor del ícono: tamaño fijo para que no salte el layout */
    .btn-like .position-relative {
        width: 24px;
        height: 24px;
    }

    /* Ambos íconos superpuestos */
    .like-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
        /* transición de la opacidad */
        will-change: opacity;
        /* mejora el rendimiento */
    }

    /* Opcional: efecto hover en el botón */
    .btn-like:hover .like-icon {
        transform: scale(1.2);
        transition: transform 0.2s ease;
    }
</style>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editor = document.getElementById('comentarioEditable');
        const inputOculto = document.getElementById('id_comentario');

        let ultimaTextoPlano = '';

        editor.addEventListener('input', function () {
            const textoPlano = editor.innerText;

            if (textoPlano !== ultimaTextoPlano) {
                ultimaTextoPlano = textoPlano;

                const textoHTML = textoPlano.replace(/(@\w+)/g, '<span class="mencion">$1</span>');

                editor.innerHTML = textoHTML;

                const range = document.createRange();
                range.selectNodeContents(editor);
                range.collapse(false);
                const selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
            }

            // Copia texto plano sin estilos
            inputOculto.value = textoPlano;
        });
    });
</script>


<style>
    .mencion {
        color: #007bff;
        /* azul */
        font-weight: bold;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.comentario p').forEach(function (parrafo) {
            const textoPlano = parrafo.textContent;

            const textoHTML = textoPlano.replace(/@(\w+)/g, function (match, username) {
                const url = `/userProfile/${username}`;  // Ruta basada en tu URL Django
                return `<a href="${url}" class="mencion">@${username}</a>`;
            });

            parrafo.innerHTML = textoHTML;
        });
    });
</script>


{% endblock %}