{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}




<div class="container-fluid mt-4">
    <div class="row align-items-center  ">
        <div class="col-10">
            <h1>{{ mediafile.name }}</h1>

        </div>
        <div class="col-1">
            <button type="button" class="btn btn-quinto">
                Editar
            </button>

        </div>
        <div class="col-1">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageModal">Borrar</button>
        </div>

        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-cuarto comic-modal m-auto">
                    <div class="modal-header">
                        <h2 class="modal-title fnBadComicTitle" id="modalLabel">Borrar registro</h2>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>

                    </div>

                    <div class="modal-body p-0 h-100 d-flex flex-column justify-content-center">
                        <!-- Carrusel -->
                        <div>
                            Estas seguro de querer eliminar el archivo {{ mediafile.name }}, esta acción es permanente?
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="media-container"> <!-- Video -->
            <!-- CSS -->
            <link href="https://vjs.zencdn.net/8.9.0/video-js.css" rel="stylesheet" />

            <video id="my-video" class="video-js vjs-default-skin w-100" controls preload="auto" crossorigin="anonymous"
                data-setup='{}'>
                <source src="{% url 'index:media_stream' mediafile.id %}" type="video/mp4" />
                Tu navegador no soporta la reproducción de video.
            </video>



        </div>

        <div class="row">
            <p><strong>Uploaded At:</strong> {{ mediafile.uploaded_at }}</p>
            <p><strong>Tags:</strong>
                {% for tag in mediafile.tags.all %}
                <span class="badge bg-secondary">{{ tag.name }}</span>
                {% endfor %}
            </p>

            <a href="{{ mediafile.file }}" class="btn btn-primary" download>Download</a>

        </div>
        <div class="row">
            <div class="col-12">
                <h2>Comentarios</h2>
            </div>
            <div class="col-12">
                <p>Agregar comentario</p>
            </div>
            <form class="row" method="post" id="comentarioForm">

                {% csrf_token %}
                <div class="col-9">
                    {{ form.comentario }}
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
            <div class="col-12">
                <div id="comentariosContainer" class="col-12">
                    {% for comentario in comentarios %}
                    <div class="py-3 border-bottom">
                        <p><a href="">{{ comentario.usuario }}</a> {{comentario.uploaded_at}}</p>
                        <p>{{ comentario.comentario }}</p>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>




    <script>
        document.getElementById('comentarioForm').addEventListener('submit', function (e) {
            e.preventDefault();  // Previene el envío tradicional

            const form = e.target;
            const formData = new FormData(form);

            fetch("{% url 'index:ajax_add_comment' mediafile.id %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.error) {
                        const nuevoComentario = `
                        <div class="py-3 border-bottom">
                            <p><a href="#">${data.usuario}</a> ${data.fecha}</p>
                            <p>${data.texto}</p>
                        </div>
                    `;
                        document.getElementById('comentariosContainer').innerHTML += nuevoComentario;
                        form.reset();
                    } else {
                        alert('Hubo un error: ' + data.error);
                    }
                })
                .catch(err => alert("Error al enviar el comentario."));
        });
    </script>



    {% endblock %}