{% load static %}
<!doctype html>
<html lang="es">

<head>
    <title>SalchiisPage</title>
    <meta charset="utf-8">
<link rel="manifest" href="{% static 'manifest.json' %}" type="application/manifest+json" crossorigin="use-credentials">
    <meta name="theme-color" content="#000000">
     <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{% static 'img/logo.png' %}">

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'masterSCSS/globalMaster.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    {% block style %}
    <style>
        @media (max-width: 767.98px) {
            .no-grow-sm {
                flex: none !important;
            }

            .sidebar-sm-auto {
                min-height: auto !important;
            }
        }
    </style>
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100 bg-cuarto fnBubbleSansRegular">

    {% include 'layout/navbar.html' %}

    <div class="container-fluid no-grow-sm flex-grow-1">
        <div class="row h-100">

            <aside class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 px-4 px-md-4
                 bg-light border-end border-3 border-tercero 
                 d-flex flex-column 
                 min-vh-100 sidebar-sm-auto">
                {% block sidebar %}
                {% include 'index/sideBar.html' %}
                {% endblock %}

            </aside>

            <section class="col-12 col-md-8 col-lg-9 col-xl-9 col-xxl-9 my-0  px-4">
                <main class="bg-cuarto" id="main-content">
                    {% block body %}{% endblock %}
                </main>
            </section>

        </div>
    </div>

    <footer class="mt-auto">
        {% include 'layout/footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register("/sw.js")
                    .then(reg => console.log('SW OK:', reg.scope))
                    .catch(err => console.log('SW ERR:', err));
            });
        }
    </script>

    {% block script %}{% endblock %}
</body>

</html>