{% load static %}

<style>
  .nav-link:hover {
    color: #fff !important;
    background-color: #8B0000 !important;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  /* Animación al cargar */
  .navbar-nav .nav-item {
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 0.6s ease forwards;
  }

  /* Aparece uno tras otro */
  .navbar-nav .nav-item:nth-child(1) { animation-delay: 0.1s; }
  .navbar-nav .nav-item:nth-child(2) { animation-delay: 0.2s; }
  .navbar-nav .nav-item:nth-child(3) { animation-delay: 0.3s; }
  .navbar-nav .nav-item:nth-child(4) { animation-delay: 0.4s; }
  .navbar-nav .nav-item:nth-child(5) { animation-delay: 0.5s; }
  .navbar-nav .nav-item:nth-child(6) { animation-delay: 0.6s; }
  .navbar-nav .nav-item:nth-child(7) { animation-delay: 0.7s; }
  .navbar-nav .nav-item:nth-child(8) { animation-delay: 0.8s; }

  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>


<nav class="navbar navbar-expand-xxl navbar-dark bg-tercero">
  <div class="container-fluid px-4">
    <a class="navbar-brand text-center text-primary fw-bold"  
    href="{% url 'index:index' %}?show_all=true" 
    style="font-size: 24px;">
   <img id="logo" src="{% static 'img/LogoHvids.png' %}" 
        alt="Previsualización" class="d-block" 
        style="max-width: 175px;" data-preview-id="2">
 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-1 px-3">

            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 25px;" href="{% url "index:index" %}">
          <img src="{% static 'img/InicioLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height:75px;">
      Inicio</a>
        </li>

        <li class="nav-item mx-1 px-3">
                      <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 25px;"href="{% url 'index:navbarFilterHeader' %}?filter=Artistas">

            <img src="{% static 'img/AristLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">

            Artistas</a>
        </li>
        <li class="nav-item mx-1 px-3">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 28px;" href="{% url 'index:navbarFilterHeader' %}?filter=Series">
                        <img src="{% static 'img/SeriesLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
Series</a>
        </li>
        <li class="nav-item mx-1 px-3">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 28px;" href="{% url 'index:navbarFilterHeader' %}?filter=Personajes">
            <img src="{% static 'img/CharacterLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">

            Personajes</a>
        </li>
        <li class="nav-item mx-1 px-3">
          <a class="nav-link active text-sexto fw-bold fnBadComicRegular d-flex flex-column align-items-center" style="font-size: 25px;" href="{% url 'index:navbarFilterHeader' %}?filter=Videos">
           
          
          <img src="{% static 'img/YoutubeLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
          Videos
        </a>
        </li>
        <li class="nav-item mx-1 px-3">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 25px;" href="{% url 'index:navbarFilterHeader' %}?filter=Comics">
            <img src="{% static 'img/ImageLogo.png' %}"  class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
            Imagenes
          </a>
        </li>
        

<li class="nav-item mx-1 px-3">
  <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 25px;" href="{% url 'index:download_video' %}">
    <img src="{% static 'img/DownloadLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
    Descargar
  </a>
</li>


        
        {% if user.is_superuser %}
        <li class="nav-item mx-1 px-3">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular" style="font-size: 25px;" href="{% url 'index:adminPage' %}">
            <img src="{% static 'img/configurationLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
            Configuración
          </a>
        </li>
        {% endif %}
        


      
    </div>
  </div>
</nav>
