{% load static %}

<style>
  /* styles/navbar_desktop.css */

  /* Hover con animación */
  .nav-link:hover {
    color: #fff !important;
    /*background-color: #8B0000 !important;*/
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  /* Animación slideDown por cada ítem */
  .navbar-nav .nav-item {
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 0.6s ease forwards;
  }

  .navbar-nav .nav-item:nth-child(1) {
    animation-delay: 0.1s;
  }

  .navbar-nav .nav-item:nth-child(2) {
    animation-delay: 0.2s;
  }

  .navbar-nav .nav-item:nth-child(3) {
    animation-delay: 0.3s;
  }

  .navbar-nav .nav-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .navbar-nav .nav-item:nth-child(5) {
    animation-delay: 0.5s;
  }

  .navbar-nav .nav-item:nth-child(6) {
    animation-delay: 0.6s;
  }

  .navbar-nav .nav-item:nth-child(7) {
    animation-delay: 0.7s;
  }

  .navbar-nav .nav-item:nth-child(8) {
    animation-delay: 0.8s;
  }

  .navbar-nav .nav-item:nth-child(9) {
    animation-delay: 0.9s;
  }

  .navbar-nav .nav-item:nth-child(10) {
    animation-delay: 1.0s;
  }

  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .icon-navbar {
    width: auto;
    height: auto;
    max-height: 7vw;
  }
</style>


<!-- navbar_desktop.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-tercero d-none d-lg-block">
  <div class="container-fluid px-4">
    <a class="navbar-brand text-center text-primary fw-bold" href="{% url 'index:index' %}" style="font-size: 24px;">
      <img id="logo" src="{% static 'img/LogoHvids.png' %}" alt="Previsualización" class="d-block img-fluid"
        style="max-width: 13vw;" data-preview-id="2">
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-tercero " id="navbarSupportedContent">
      <ul class="navbar-nav d-flex w-100 justify-content-between">
        <!-- <li class="nav-item mx-1">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 25px;" href="{% url 'index:index' %}">
            <img src="{% static 'img/InicioLogo.png' %}" class="img-fluid mb-1"
              style="max-width: 75px; height:75px;">Inicio
          </a>
        </li>-->

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:navbarFilterHeader' %}?filter=Artistas">
            <img src="{% static 'img/AristLogo.png' %}" class="img-fluid icon-navbar mb-1">Artistas
          </a>
        </li>

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:navbarFilterHeader' %}?filter=Juegos">
            <img src="{% static 'img/SeriesLogo.png' %}" class="img-fluid icon-navbar mb-1">Juegos
          </a>
        </li>

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:navbarFilterHeader' %}?filter=Personajes">
            <img src="{% static 'img/CharacterLogo.png' %}" class="img-fluid icon-navbar mb-1">Personajes
          </a>
        </li>

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:navbarFilterHeader' %}?filter=Videos">
            <img src="{% static 'img/videosLogoNew.png' %}" class="img-fluid icon-navbar mb-1">Videos
          </a>
        </li>

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:navbarFilterHeader' %}?filter=Comics">
            <img src="{% static 'img/ImageLogoNew.png' %}" class="img-fluid icon-navbar mb-1">Imagenes
          </a>
        </li>

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:download_video' %}">
            <img src="{% static 'img/YoutubeLogoNew.png' %}" class="img-fluid icon-navbar mb-1">Descargar
          </a>
        </li>
        {% if request.user.can_upload %}

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:uploadElement' %}">
            <img src="{% static 'img/uploadNewIcon.png' %}" class="img-fluid icon-navbar mb-1">Subir Archivo
          </a>
        </li>
        {% endif %}
        {% if user.is_superuser and user.is_staff %}
        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:adminPage' %}">
            <img src="{% static 'img/settingsLogoNew2.png' %}" class="img-fluid icon-navbar mb-1">
            Configuración
          </a>
        </li>
        {% endif %}
        <style>
          @keyframes pulso {
            0% {
              transform: scale(1);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            }

            70% {
              transform: scale(1.15);
              box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0);
            }

            100% {
              transform: scale(1);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
          }

          .badge-custom {
            animation: pulso 1.8s infinite ease-in-out;
          }

          .badge-custom {
            position: absolute;
            top: 2px;
            right: 18px;
            background-color: yellow;
            color: black;
            border: 3px solid black;
            border-radius: 50%;
            padding: 4px 8px;
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 1;
            z-index: 10;
          }
        </style>
        {% if request.user.is_authenticated %}
        <li class="nav-item flex-fill text-center position-relative">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw;" href="{% url 'index:userProfile' request.user.username %}">
            <img src="{% static 'img/profileImageLogoPNG.png' %}" class="img-fluid icon-navbar mb-1">
            Ver perfil
            {% if notificaciones_no_leidas > 0 %}
              <span class="badge-custom" id="notificacion-badge">{{ notificaciones_no_leidas }}</span>
            {% else %}
              <span class="badge-custom" id="notificacion-badge" style="display: none;">0</span>
            {% endif %}
          </a>
        </li>
        

 <!--     <div id="panel-notificaciones" class="position-absolute bg-white border rounded shadow p-3"
     style="top: 70px; right: 0; width: 300px; display: none; z-index: 1000;">
     <h6 class="fw-bold mb-2">Notificaciones</h6>
     <div id="lista-notificaciones">
       <p class="text-muted mb-0">Cargando...</p>
     </div>
   </div> -->

        <li class="nav-item flex-fill text-center">
          <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
            style="font-size: 1.2vw; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <img src="{% static 'img/logoutLogo.png' %}" class="img-fluid icon-navbar mb-1">
            Cerrar Sesión
          </a>
        </li>

        <!-- Modal de Confirmación -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-warning text-dark">
                <h5 class="modal-title" id="logoutModalLabel">¿Confirmar cierre de sesión?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body text-center">
                ¿Estás seguro de que deseas cerrar sesión, <strong>{{ request.user }}</strong>?
              </div>
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'login:logout' %}" class="btn btn-primary">Cerrar Sesión</a>
              </div>
            </div>
          </div>
        </div>

        {% endif %}


      </ul>
    </div>
  </div>
</nav>


<!-- navbar movil -->

<nav class="navbar navbar-expand-lg navbar-dark bg-tercero d-block d-lg-none">
  <div class="container-fluid px-4">
    <a class="navbar-brand mx-auto text-center text-primary fw-bold" href="{% url 'index:index' %}"
      style="font-size: 24px;">
      <img id="logo" src="{% static 'img/LogoHvids.png' %}" alt="Previsualización" class="d-block"
        style="max-width: 175px;" data-preview-id="2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-tercero" id="navbarSupportedContent">

      <ul class="navbar-nav row g-0">
        <div class="row w-100 mx-0">


          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:navbarFilterHeader' %}?filter=Artistas">
              <img src="{% static 'img/AristLogo.png' %}" class="img-fluid mb-1" style="max-width: 75px; height: 75px;">
              Artistas
            </a>
          </li>

          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 28px;" href="{% url 'index:navbarFilterHeader' %}?filter=Juegos">
              <img src="{% static 'img/SeriesLogo.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Juegos
            </a>
          </li>

          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 28px;" href="{% url 'index:navbarFilterHeader' %}?filter=Personajes">
              <img src="{% static 'img/CharacterLogo.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Personajes
            </a>
          </li>

          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold fnBadComicRegular d-flex flex-column align-items-center"
              style="font-size: 25px;" href="{% url 'index:navbarFilterHeader' %}?filter=Videos">
              <img src="{% static 'img/videosLogoNew.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Videos
            </a>
          </li>

          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:navbarFilterHeader' %}?filter=Comics">
              <img src="{% static 'img/ImageLogoNew.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Imagenes
            </a>
          </li>

          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:download_video' %}">
              <img src="{% static 'img/YoutubeLogoNew.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Descargas
            </a>
          </li>
          {% if request.user.can_upload %}
          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:uploadElement' %}">
              <img src="{% static 'img/uploadNewIcon.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Subir
            </a>
          </li>
          {% endif %}
          {% if user.is_superuser and user.is_staff %}
          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:adminPage' %}">
              <img src="{% static 'img/settingsLogoNew2.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Configuración
            </a>
          </li>
          {% endif %}

          {% if request.user.is_authenticated %}
          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'index:userProfile' request.user.username %}">
              <img src="{% static 'img/profileImageLogoPNG.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Ver perfil
            </a>
          </li>
          <li class="col-6 nav-item">
            <a class="nav-link active text-sexto fw-bold d-flex flex-column align-items-center fnBadComicRegular"
              style="font-size: 25px;" href="{% url 'login:logout' %}">
              <img src="{% static 'img/logoutLogo.png' %}" class="img-fluid mb-1"
                style="max-width: 75px; height: 75px;">
              Cerrar
            </a>
          </li>
          {% endif %}
        </div>
      </ul>

    </div>


  </div>
</nav>
<script>
/*  document.addEventListener('DOMContentLoaded', function () {
    const badge = document.getElementById('notificacion-badge');
    const panel = document.getElementById('panel-notificaciones');
    const lista = document.getElementById('lista-notificaciones');
    const link = badge.closest('a'); // o usa otro selector si prefieres

    async function actualizarNotificaciones() {
      try {
        const response = await fetch("{% url 'index:notificaciones_count' %}");
        const data = await response.json();
        const count = data.count;

        if (count > 0) {
          badge.innerText = count;
          badge.style.display = 'inline-block';
        } else {
          badge.style.display = 'none';
        }

      } catch (e) {
        console.error("Error al actualizar el badge", e);
      }
    }

    async function cargarPanelNotificaciones() {
      try {
        const res = await fetch("{% url 'index:obtener_notificaciones' %}");
        const data = await res.json();
        lista.innerHTML = '';

        if (data.notificaciones.length === 0) {
          lista.innerHTML = '<p class="text-muted mb-0">No tienes notificaciones.</p>';
          return;
        }

        data.notificaciones.forEach(n => {
          const item = document.createElement('div');
          item.classList.add('mb-2', 'small');
          item.innerHTML = `
            <div class="${n.leida ? '' : 'fw-bold'}">
              ${n.mensaje}
              <br><small class="text-muted">${n.fecha}</small>
            </div>
            <hr class="my-1">
          `;
          lista.appendChild(item);
        });

      } catch (error) {
        console.error('Error cargando notificaciones:', error);
        lista.innerHTML = '<p class="text-danger">Error al cargar notificaciones.</p>';
      }
    }

    // Mostrar/ocultar panel al hacer clic
    link.addEventListener('click', function (e) {
      e.preventDefault();
      if (panel.style.display === 'none') {
        cargarPanelNotificaciones();
        panel.style.display = 'block';
      } else {
        panel.style.display = 'none';
      }
    });

    // Cierra el panel si se hace clic fuera
    document.addEventListener('click', function (e) {
      if (!panel.contains(e.target) && !link.contains(e.target)) {
        panel.style.display = 'none';
      }
    });

    actualizarNotificaciones();
    setInterval(actualizarNotificaciones, 15000);  // Actualiza cada 15 segundos
  });*/
</script>